<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/todos" target="_blank">
      <img src="assets/logo192.png" width="30" height="30" alt="todos" />
    </a>
    <a routerLink="" class="navbar-brand">MEAN-Stack Todo App</a>
    <div class="collpase navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <li class="navbar-item">
          <a routerLink="/todos" class="nav-link">Todos</a>
        </li>
        <li class="navbar-item">
          <a routerLink="/create" class="nav-link">Create Todo</a>
        </li>
      </ul>
    </div>
  </nav>
  <br/>
  <router-outlet></router-outlet>
</div>