<div>
    <h3 align="center">Create New Todo</h3>
    <form #todoForm="ngForm" (ngSubmit)="onSubmit(todoForm)">
        <div class="form-group"> 
            <label>Description: </label>
            <input  type="text"
                    class="form-control"
                    value="{{state.todo_description}}"
                    (change)="onChangeTodoDescription($event)"
                    name="description"
                    [(ngModel)]="todoForm.description"
                    />
        </div>
        <div class="form-group">
            <label>Responsible: </label>
            <input 
                    type="text" 
                    class="form-control"
                    value="{{state.todo_responsible}}"
                    (change)="onChangeTodoResponsible($event)"
                    name="responsible"
                    [(ngModel)]="todoForm.responsible"
                    />
        </div>
        <div class="form-group">
            <div class="form-check form-check-inline">
                <input  class="form-check-input" 
                        type="radio" 
                        name="priorityOptions" 
                        id="priorityLow" 
                        value="Low"
                        checked="{{state.todo_priority==='Low'}}" 
                        (change)="onChangeTodoPriority($event)"
                        [(ngModel)]="todoForm.priorityOptions"
                        />
                <label class="form-check-label">Low</label>
            </div>
            <div class="form-check form-check-inline">
                <input  class="form-check-input" 
                        type="radio" 
                        name="priorityOptions" 
                        id="priorityMedium" 
                        value="Medium" 
                        checked="{{state.todo_priority==='Medium'}}" 
                        (change)="onChangeTodoPriority($event)"
                        [(ngModel)]="todoForm.priorityOptions"
                        />
                <label class="form-check-label">Medium</label>
            </div>
            <div class="form-check form-check-inline">
                <input  class="form-check-input" 
                        type="radio" 
                        name="priorityOptions" 
                        id="priorityHigh" 
                        value="High" 
                        checked="{{state.todo_priority==='High'}}" 
                        (change)="onChangeTodoPriority($event)"
                        [(ngModel)]="todoForm.priorityOptions"
                        />
                <label class="form-check-label">High</label>
            </div>
        </div>


        <br />

        <div class="form-group">
            <!-- <input type="button" (click)="onSubmit($event)" value="Create Todo" class="btn btn-primary" /> -->
            <input type="submit" value="Create Todo" class="btn btn-primary" />
        </div>
    </form>
</div>


